<div class="container">
  <div class="info">

    <h4>What is Give a Little? </h4>
    <p class="about">
    Give a Little is an app that aims to connect your surplus food (regardless of how much or how little you have to give) with hungry people in your community.  In order to make it as easy as possible for you to donate, Give a Little allows you to search for places within your own neighborhood that can benefit from whatever you have to offer.
    </p>
    <p class="about">
    Start by selecting the type of food that you have in surplus. Then, use your current location or another address within the five boroughs and instantly see a list of agencies that meet your criteria.
    </p>

    <h4>What kinds of food can you accept?</h4>
    <p class="about">
    Our first priority is the health and wellbeing of the people we serve.  Please keep food safety in mind when donating. The Good Samaritan Law provides protection from all liability when donating food, but help us keep our community safe by reviewing the food safety guidelines in the link below.
    </p>
    <p class="about">
      <a href="http://www.cityharvest.org/images/uploads/site/FY15_New_Donor_Kit.pdf">City Harvest's Food Safety Guidelines</a>
    </p>

    <h4>Want to Give a Lot?</h4>
    <p class="about">
    Give a Little began as a tool to supplement the work of City Harvest. City Harvest operates a fleet of trucks that can pick up your surplus food, if it weighs 50 pounds or more.  If you have such a donation and are unable to bring it directly to an agency nearby, please contact City Harvest to schedule a pickup (646-412-0600).
    </p>
  </div>

  <div class="search">
    <h4> Have a food donation? </h4>
    <div class="quick_search">
      <h5>Know of a place you want to donate?</h5>

      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query, nil, placeholder: "Enter an agency name or zipcode:" %>
      <%= submit_tag "Search" %>
    <% end %>
    </div>

    <div class="filter">
      <h5>Find a Location:</h5>
      <p class="strong">1. Enter what kind of food you have to donate: </p>

      <%= form_tag filter_path, method: :get do %>
        <%= select_tag :food_types, options_from_collection_for_select(
          FoodType.all,
          "id",
          "name"
        ), prompt: "Type of Food" %>

      <p class="strong">2. And choose your search method:</p>

        <div>
          <p> Use current location to find locations nearby?
          <%= check_box_tag :current_location, "Yes" %></p>
        </div>

        <p class="strong">OR</p>

        <div>
          <p> Find locations near an address: </p>
          <%= text_field_tag :city_search, nil, placeholder: "Enter full address" %>
        </div>

        <%= submit_tag "Search" %>
      <% end %>
    </div>

      <h5 class="all"><%= link_to "View All Agencies", agencies_path %></h5>
  </div>
</div>
