<div class="container">
  <div class="info">

    <h4>What is Give a Little? </h4>
    <p class="about">
    This is what it's about!
    </p>

    <h4>What kinds of food can you accept?</h4>
    <p class="about">
    This is what we can accept!
    </p>

  </div>

  <div class="search">
    <h4> Have a food donation? </h4>
    <div class="quick_search">
      <h5>Know of a place you want to donate?</h5>

      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query, nil, placeholder: "Enter an agency name or zipcode:" %>
      <%= submit_tag "Search" %>
    <% end %>
    </div>

    <div class="filter">
      <h5>Search:</h5>
      <p>1. Enter what kind of food you have to donate: </p>

      <%= form_tag filter_path, method: :get do %>
        <%= select_tag :food_types, options_from_collection_for_select(
          FoodType.all,
          "id",
          "name"
        ), prompt: "Type of Food" %>

      <p>2. And choose your search method:</p>

        <div>
          <p> Use current location to find locations nearby?
          <%= check_box_tag :current_location, "Yes" %></p>
        </div>

        <p>OR</p>

        <div>
          <p> Find locations near an address: </p>
          <%= text_field_tag :city_search, nil, placeholder: "Enter full address" %>
        </div>

        <%= submit_tag "Search" %>
      <% end %>
    </div>

      <h5><%= link_to "View All Agencies", agencies_path %></h5>
  </div>
</div>

