<h1><%= @agency.name %></h1>

<div>Contact: <%= @agency.contact %></div>
<div>Phone: <%= @agency.phone %></div>
<div>Address: <%= @agency.address %></div>
<div>City: <%= @agency.city %></div>
<div>State: NY </div>
<div>Zip: <%= @agency.zipcode %></div>
<div>Accepted Foods:
  <ol>
  <% @agency.food_type_ids.each do |food_type_id| %>
    <li><%= FoodType.find(food_type_id).name %></li>
  <% end %>
  </ol>
</div>

<div>Notes: <%= @agency.notes %></div>

<div>MAPMAPMAP</div>

<%= link_to "Edit Details", edit_agency_path(@agency) %>
<%= link_to "All Agencies", agencies_path %>









