<h1><%= @agency.name %></h1>

<div>
  <p>Contact: <%= @agency.contact %>
  <p>Phone: <%= @agency.phone %>
  <p>Address: <%= @agency.address %>
  <p>City: <%= @agency.city %>
  <p>State: NY
  <p>Zip: <%= @agency.zipcode %>
  <p>Accepted Foods:</p>
  <ol>
  <% @agency.food_type_ids.each do |food_type_id| %>
    <li><%= FoodType.find(food_type_id).name %></li>
  <% end %>
  </ol>
</div>

<p>Notes: <%= @agency.notes %></p>

<%= link_to "Edit Details", edit_agency_path(@agency) %>
<%= link_to "All Agencies", agencies_path %>
