<div class="agency_details">
  Contact: <p><%= @agency.contact %></p>
  Phone: <p><%= @agency.phone %></p>
  Address: <p><%= @agency.address %></p>
  City: <p><%= @agency.city %></p>
  State:<p>NY</p> 
  Zip: <p><%= @agency.zipcode %></p>
  Accepted Foods:
    <% @agency.food_types.each do |food_type| %>
      <p>- <%= food_type.name %></p>
    <% end %>

    <p><%= @agency.notes %></p>
</div>
