<div>
  <p>Contact: <%= @agency.contact %>
  <p>Phone: <%= @agency.phone %>
  <p>Address: <%= @agency.address %>
  <p>City: <%= @agency.city %>
  <p>State: NY
  <p>Zip: <%= @agency.zipcode %>
  <p>Accepted Foods:</p>
  <ol>
    <% @agency.food_types.each do |food_type| %>
      <li><%= food_type.name %></li>
    <% end %>
  </ol>

  <p>Notes: <%= @agency.notes %></p>
</div>
