<!DOCTYPE html>
<html>
<head>
  <title>Donate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

</head>
<body>

<% if signed_in? %>
  <%= link_to "Sign out", session_path, method: :delete %>
  <%= link_to "Dashboard", dashboard_path %>
  <p>You're signed in as <%= current_user.username %></p>
<% else %>
  <%= link_to "Sign in", new_session_path %>
  <%= link_to "Sign up", new_user_path %>
<% end %>

<% if current_user.super_admin? %>
  <%= link_to "Admin Dashboard", admin_dashboard_path %>
<% end %>

<% if current_user.agency_admin? %>
  <%= link_to "Agency Profile Page", agency_admin_agency_path(current_user.agency_id)%>
<% end %>

<%= yield %>

</body>
</html>
