<!DOCTYPE html>
<html>
<head>
<title>Donate</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<script type='text/javascript'>
MAPBOX_ACCESS_TOKEN = "<%= ENV['MAPBOX_ACCESS_TOKEN'] %>";
MAPBOX_MAP_ID = "<%= ENV['MAPBOX_MAP_ID'] %>";
</script>
<%= csrf_meta_tags %>

</head>
<body>

  <%= render "header" %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
